<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <fieldReaders>
            <mapFieldByTypeName>
              <fieldReader patch:instead="*[@fieldTypeName='tag treelist']" fieldTypeName="tag treelist" fieldReaderType="Sitecore.Support.XA.Foundation.Search.FieldReaders.NameLookupListFieldReader, Sitecore.Support.10966"/>
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>